// /* ============================== sign : начало ============================== */
.summary-msg {
	text-align: center;
	color: #FF0B0B;
	font-size: rem(8);
	font-weight: 300;
	min-height: rem(22);
}
// /* ============================== sign : конец ============================== */