$face: "base";
$accent: "secondary";
//
$bgi-default: linear-gradient(114deg, rgb(45, 47, 51), rgb(40, 42, 46) 51%, rgb(33, 36, 41) 99%);
$bgi-hover: linear-gradient(to bottom, rgba(224, 224, 255, 0.06), rgba(224, 224, 255, 0.06)), linear-gradient(114deg, rgb(45, 47, 51), rgb(40, 42, 46) 51%, rgb(33, 36, 41) 99%);
$bgi-active: $bgi-default;
$bgi-disabled: $bgi-default;
//
$bs-default: 0 8px 8px -4px rgba(0, 187, 255, 0.06), 0 16px 24px 0 rgba(0, 187, 255, 0.12), 0 2px 4px -1px rgba(27, 10, 82, 0.06), 0 0 1px 0 rgba(0, 187, 255, 0.12), inset 0 2px 6px 0 rgba(0, 187, 255, 0.4);
$bs-hover: $bs-default;
$bs-active: $bs-default;
$bs-disabled: $bs-default;

// Цвета текста
.btn[data-face="#{$face}"] {
	&[data-accent="#{$accent}"] {
		color: var(--btn-#{$face}-#{$accent}-fcolor-default, rgba(25, 218, 235));
	}
	&[data-accent="#{$accent}"]:disabled {
		color: var(--btn-#{$face}-#{$accent}-fcolor-disabled, rgba(25, 218, 235));
	}
}
// Основное оформление
.btn[data-face="#{$face}"] {
	&[data-accent="#{$accent}"] {
		[class$="__decorator"] {
			background-image: $bgi-default;
			&::before {
				background-image: $bgi-hover;
			}
			&::after {
				background-image: $bgi-active;
			}
		}
		&::after {
			box-shadow: $bs-default;
		}
	}
	&[data-accent="#{$accent}"]:hover,
	&[data-accent="#{$accent}"]:focus-visible {
		[class$="__decorator"] {
		}
		&::after {
			box-shadow: $bs-hover;
		}
	}
	&[data-accent="#{$accent}"]:active {
		[class$="__decorator"] {
		}
		&::after {
			box-shadow: $bs-active;
		}
	}
	&[data-accent="#{$accent}"]:disabled {
		[class$="__decorator"] {
			&::before {
				background-image: $bgi-disabled;
			}
		}
		&::after {
			box-shadow: $bs-disabled;
		}
	}
}
