// @import "layout.config";
// /* ========== Кастомизация цветовой схемы : начало ========== */

// /* ========== Кастомизация цветовой схемы : конец ========== */
/* ========== Общая кастомизация : начало ========== */
:root {
	--body-font-family: Montserrat;
	--simple-transition-duration: 0.15s; /* Скорость простых анимаций */
	--simple-transition-delay: 0s;
	// --navbar-toggle-duration: 0.5s; /* Скорость анимаций появления меню */
	/* Кнопка переключения меню: */
	// --burger-font-family: var(--body-font-family);
	// --burger-toggle-duration: 1s;
}
/* ========== Общая кастомизация : конец ========== */
