body {
	background-color: #161516;
	[class*="title"],
	[class*="notify"] {
		transition-duration: 0.5s;
		transition-property: font-size;
	}
}
.template {
	.header {
		background-color: #333;
	}
	.footer {
		background-color: #333;
	}
}
