body,
html,
#root {
	position: relative;
	height: 100%;
	min-height: 100%;
}
.template {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 100%;

	& > * {
		// outline: 1px solid #f00;
	}
	.header,
	.main,
	.footer {
		&__layout {
			width: 100%;
			max-width: rem($tmpl-design-width);
			margin: 0 auto;
			// outline: 1px dashed #0ff;
			// background: #000;
		}
	}
	.header {
		flex-shrink: 0;
		flex-basis: min-content;
		/*  */
		position: relative;
		z-index: 1;

		//
		&__layout {
		}
	}
	.main {
		flex-shrink: 0;
		flex-grow: 1;
		flex-basis: auto;
	}
	.footer {
		flex-shrink: 0;
		flex-basis: min-content;

		position: relative;
		z-index: 1;
	}
}
