.ctrlsgrid {
	display: flex;
	width: 100%;
	.ctrlslot {
		padding: 0.25em;
	}
}
// .ctrlsgrid--start {
// 	&::after {
// 		content: '';
// 		flex-grow: 1;
// 		flex-shrink: 1;
// 		flex-basis: auto;
// 	}
// }
.ctrlsgrid--center {
	&::before,
	&::after {
		content: "";
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
	}
}
.ctrlsgrid--end {
	&::before {
		content: "";
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
	}
}