.productslist {
	padding-bottom: rem(28);
	//
	display: grid;
	row-gap: rem(20);
	/*  */
	&__notifybar {
		// outline: 1px solid #f0f;
	}
	&__notify {
		color: #fff;
		text-transform: uppercase;
		font-size: rem(21);
		@include bp(sm) {
			font-size: rem(22);
		}
		@include bp(md) {
			font-size: rem(23);
		}
		@include bp(lg) {
			font-size: rem(24);
		}
		font-weight: bold;
		/*  */
		line-height: 1.15;
		/*  */
		word-wrap: break-word; /* old */
		overflow-wrap: break-word;
		word-break: break-word;
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: rem(8);
		row-gap: rem(8);
		transition-duration: 0.5s;
		transition-property: row-gap, column-gap, padding-bottom;
		/*  */
		@media (min-width: em(440)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include bp(sm) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: rem(10);
			row-gap: rem(10);
			padding-bottom: rem(41);
		}
		@include bp(md) {
			grid-template-columns: repeat(3, 1fr);
			column-gap: rem(12);
			row-gap: rem(12);
			padding-bottom: rem(56);
		}
		@include bp(lg) {
			grid-template-columns: repeat(4, 1fr);
			column-gap: rem(14);
			row-gap: rem(14);
			padding-bottom: rem(64);
		}
		@include bp(xl) {
			column-gap: rem(14);
			row-gap: rem(35);
			padding-bottom: rem(70);
		}
	}
}
