.fld {
	display: grid;

	grid-template:
		"empty label"
		"required input"
		"required validate-msg";
	grid-template-columns: min-content auto;

	margin-bottom: rem(2);
	
	.label {
		grid-area: label;
		width: max-content;
		padding-left: rem(7.5);
		padding-bottom: rem(3);
	}

	.input {
		grid-area: input;
	}
	.validate-msg {
		grid-area: validate-msg;
		padding-top: rem(2);
	}

	&.fld--required {
		&::before {
			grid-area: required;
			content: "*";
			padding-top: rem(6);
			padding-right: rem(3);
		}
	}
}
.fld--invalid {
	margin-bottom: rem(0);
}