/* Внешнее позиционирование относительно каких-либо родительских блоков : начало */
.sign__formgrid {
	margin-left: rem(34);
	margin-right: rem(45);
}
.sign__formgrid {
	.formgrid__footbar {
		padding-left: rem(27);
	}
}
/* Внешнее позиционирование относительно каких-либо родительских блоков : конец */
