$face: "social";
.btn[data-face="#{$face}"] {
	color: var(--btn-social-fcolor, #e0e0ff);
	height: rem(36);
	width: rem(36);
	border-radius: rem(2);
	background-color: var(--btn-social-bg-color, rgba(224, 224, 255, 0.06));

	> [class$="__helper"] {
		column-gap: rem(0);
		// padding: 0 rem(8);
	}
	// [class$="__caption"] {}
	[class$="__icon"] {
		font-size: rem(20);
		&::before {
			transition-property: opacity;
			transition-duration: var(--simple-transition-duration, 0.1s);
			opacity: 0.6;
		}
	}
}
.btn[data-face="#{$face}"]:hover,
.btn[data-face="#{$face}"]:focus-visible {
	[class$="__icon"] {
		&::before {
			opacity: 0.8;
		}
	}
}
.btn[data-face="#{$face}"]:active {
	[class$="__icon"] {
		&::before {
			opacity: 1;
		}
	}
}
